<div class="py-24 sm:py-15 lg:pb-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Okinawa Ryuei Ryu Karate Kobudo Organization</h1>
            <p class="italic mt-6 text-lg leading-8 text-gray-600">
                Mission: To spread Ryuei Ryu across the globe by teaching values, team building, comradery, etc.
            </p>
        </div>
    </div>
</div>

