<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okinawa Ryuei Ryu Karate Kobudo Organization</title>
</head>
    <div id="page-content">
    </div>
    <body>
        Events page!
        <br>
        This is the events us page!
    </body>
    

        <!--insert image with text, or create an additional home page that has card like features-->
    
</html>